<h1>Cadê Buffet</h1>
<section>
  <h2>Catálogo de Buffets</h2>
  <% if @buffets.any? %>
    <dl>
      <% @buffets.each do |buffet| %>
        <dt><%= link_to buffet.brand_name, buffet %></dt>
        <dd>Cidade: <%= buffet.city %> - <%= buffet.state %></dd>
      <% end %>
    </dl>
  <% else %>
    <p>Ainda não existem buffets cadastrados.</p>
  <% end %>
</section>