<h1>Meus Pedidos</h1>

<% if @orders.any? %>
  <dl>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
  </dl>
<% else %>
  <p>Você ainda não fez pedido algum, faça o primeiro!</p>
<% end %>
