<%= render partial: 'layouts/error_messages', locals: { model: @base_price } %>
<h1 class="mx-5 mb-5 mt-4">Adicionar Preço-base</h1>
<%= render partial: 'form', locals: { base_price: [@base_price.event_type, @base_price] } %>